@media (max-width: 1360px) {
    .container {
        max-width: 960px;
    }
    .header {
        min-height: 862px;
    }
    .why {
        &__descr {
            width: 558px;
        }
        &__images {
            margin-right: 0;
            width: 461px;
            &-possition2 {
                padding: 16px 0 0 111px;
            }
        }
    }
    .steps {
        &__wrapper {
            background-image: url(../image/Line1360.png);
            background-repeat: no-repeat;
            background-position: 50% 30%;
        }
    }
    .booknow {
        min-height: 712px;
        &__wrapper {
            width: 558px;
            height: 372px;
        }
    }
    .booknow2 {
        min-height: 712px;
        &__wrapper {
            width: 558px;
            height: 372px;
        }
    }
    .tourist {
        min-height: 708px;
        &__wrapper {
            width: 100%;
            img {
                width: 380px;
                object-fit: cover;
            }
        }
        &__block{
            &-descr {
                margin: 0 60px 48px 60px;
            }
        }

    }
}

@media (max-width: 1024px) {
    .container {
        max-width:720px;
    }
    .navigation {
        &__menu {
            &-links {
                font-size: 12px;
            }
        }
    }
    .why {
        &__descr {
            width: 550px;
        }
        &__images {
            width: 386px;
            &-possition2 {
                padding: 16px 0 0 36px;
            }
        }
    }
    .steps {
        &__wrapper {
            background-image: url(../image/Line1024.png);
            background-repeat: no-repeat;
            background-position: 50% 35%;
            padding: 122px 0 44px;
        }
    }
    .booknow {
        &__wrapper {
            width: 550px;
        }
    }
    .booknow2 {
        &__wrapper {
            width: 550px;
        }
    }
    .tourist {
        min-height: 736px;
        &__wrapper {
            width: 100%;
            img {
                width: 320px;
            }
        }
    }
}

@media (max-width:768px) {
    .container {
        max-width: 540px;
    }
    .header {
        &__wrapper {
            width: 90%;
        }
        &__form {
            width: 90%;
            margin: 0 auto;
        }
    }
    .navigation {
        min-height: 136px;
        &__wrapper {
            height: 72px;
            flex-wrap: wrap;
            justify-content: center;
            padding: 32px 0 0 0;
        }
    }
    .logo {
        margin-bottom: 28px;
    }
    .why {
        min-height: 659px;
        padding: 60px 0;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__descr {
            order: 2;
            width: 100%;
            align-items: center;
            margin-top: 32px;
        }
        &__images {
            display: flex;
            justify-content: space-between;
            order: 1;
            width: 100%;
            &-possition2 {
                padding: 0;
                order: 1;
                width: 48%;
            }
            &-possition1 {
                order: 2;
                width: 48%;
            }
        }
    }
    .steps {
        min-height: 658px;
        &__wrapper {
            padding: 60px 0;
            background-image: none;
            flex-direction: column;
            gap: 60px;
        }
        &__block {
            width: 100%;
        }
    }
    .booknow {
        min-height: 558px;
        padding: 120px 0;
        &__wrapper {
            width: 100%;
            height: 100%;
        }
        &__block {
            gap: 20px;
        }
    }
    .booknow2 {
        min-height: 558px;
        padding: 120px 0;
        &__wrapper {
            width: 100%;
            height: 100%;
        }
        &__block {
            gap: 20px;
        }
    }
    .tourist {
        min-height: 924px;
        padding: 60px 0 120px;
        &__wrapper {
            width: 100%;
            flex-wrap: wrap;
            img {
                width: 100%;
            }
        }
        &__block {
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .header {
        &__wrapper {
            width: 90%;
        }
        &__form {
            width: 90%;
            margin: 0 auto;
            height: 50px;
            &:before {
                width: 15px;
                height: 15px;
            }
            .btn-form {
                height: 42px;
                width: 110px;
                font-size: 10px;
                margin: 4px 2px 4px 0;
            }
            input {
                font-size: 9px;
                padding: 0 0 0 15px;
            }
        }
    }
    .navigation {
        min-height: 84px;
        position: relative;
        .container {
            width: 100%;
        }
        &__wrapper {
            height: 100%;
            width: 100%;
            text-align: center;
            display: block;
            padding: 0;
        }
        &__menu {
            flex-direction: column;
            gap: 0;
            transform: translateX(-100%);
            display: none;
            &_active {
                transform: translateX(0);
                display: flex;
            }
            &-items {
                &:nth-child(1) {
                    margin: 32px 0 24px;
                }
                &:nth-child(3) {
                    margin: 24px 0 24px;
                }
                &:nth-child(4) {
                    margin: 0 0 32px 0;
                }
            }
        }
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 18px;
        top: 30px;
        width: 40px;
        span {
            display: block;
            background: #FFFFFF;
            width: 100%;
            height: 2px;
            margin-bottom: 6px;
            transition: 0.5s all;
        }
        &_active {
            span {
                &:nth-child(1) {
                    margin: 0;
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    margin: 0;
                    transform:  translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .logo {
        display: inline-block;
        margin: 0;
        padding: 28px 0 0 0;
    }
    .why {
        min-height: 630px;
        &__images {
            justify-content: space-around;
            &-possition2 {
                width: 45%;
                padding: 0;
                
            }
            &-possition1 {
                width: 45%;
            }
        }
    }
    .booknow {
        min-height: 616px;
    }
    .booknow2 {
        min-height: 616px;
    }
    .tourist {
        min-height: 980px;
        &__block {
            &-descr {
                margin: 0 57px 48px 60px;
            }
        }
    }
}