.title {
    color: $secondary-white;
    &_small {
        font-family: $font-primary;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.1em;
    }
    &_smallfw {
        font-family: $font-primary;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        margin: 16px 0 16px 0;
    }
    &_mediumHeader {
        font-family: $font-primary;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.31em;
        text-align: center;
        margin-bottom: 48px;
    }
    &_mediumfooter {
        margin: 20px 0;
        font-family: $font-primary;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2em;
    }
    &_large {
        font-family: $font-secondary;
        font-weight: 400;
        font-size: $fz-secondary;
        line-height: 40px;
        text-transform: capitalize;
    }
    &_largeTourist {
        font-family: $font-secondary;
        font-weight: 400;
        font-size: $fz-secondary;
        line-height: 40px;
        text-transform: capitalize;
        text-align: center;
    }
    &_mediumTourist {
        font-family: $font-primary;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        margin: 48px 0 16px 60px;
    }

}