/*****  Fonts  *****/
$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Aleo', serif;

/*****  Colors  *****/
$primary: #5373FD;
$secondary: rgba(35, 35, 35, 0.9);
$secondary-black: #333333;
$secondary-white : #FFFFFF;

/*****  Font-size  *****/
$fz-primary: 16px;
$fz-secondary: 36px;
