.navigation {
    width: 100%;
    min-height: 84px;
    background: $primary;
    &__wrapper {
        height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0 32px 0;
    }
    &__menu {
        display: flex;
        list-style: none;
        gap: 40px;
        &-links {
            text-decoration: none;
            font-family: $font-secondary;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}